/* SECCION INFO */
.info {
    width: 100%;
    height: auto;
    background-color: var(--color-gris);
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-group {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    row-gap: 2.6em;
    margin: .5em 1em;
}

.info-text {
    margin-left: 1em;
    color: var(--color-blanco);
}

/* SECCION NAVBAR */
.nav {
    background: transparent;
    color: var(--color-negro);
    height: 70px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.nav-img {
    width: 230px;
    height: 65px;
}

.nav-links {
    height: 100%;
    transition: transform .5s;
    display: flex;

}

.nav-item {
    list-style: none;
    position: relative;
    height: 100%;

    --clip: polygon(0 0, 100% 0, 100% 0, 0 0);
    --transform: rotate(0);
}

.nav-item:hover {
    --clip: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    --transform: rotate(90deg);
}

.nav-link,
.nav-sublink {
    color: var(--color-negro);
    text-decoration: none;
    padding: 0 30px;
    display: flex;
    height: 100%;
    align-items: center;
}

.nav-icon {
    transform: var(--transform);
    transition: transform .3s;
    display: block;
    margin-left: 3px;
}

.nav-sublinks {
    list-style: none;
    transition: clip-path .3s;
    clip-path: var(--clip);
    position: absolute;
    right: 0;
    bottom: 0;
    width: max-content;
    transform: translateY(100%);
    background-color: var(--color-blanco);
    border-radius: 10px;
    overflow: hidden;
}

.nav-sublink--inside {
    padding: 30px 100px 30px 20px;
}

.nav-sublink--inside:hover {
    background-color: var(--color-phantom);
}

.nav-hamburguer {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 15px;
    cursor: pointer;
    display: none;
}

.menu-img {
    display: block;
    width: 36px;
}

@media (max-width: 768px) {

    /* SECCION INFO */
    .info {
        flex-direction: column;
    }

    /* SECCION NAVBAR */
    .nav-hamburguer {
        display: flex;
    }

    .nav-item {
        --clip: 0;
        overflow: hidden;
    }

    .nav-item--active {
        --transform: rotate(0);
        --background: var(--color-phantom);
    }

    .nav-item--show {
        background-color: var(--background);
    }

    .nav-links {
        position: fixed;
        max-width: 400px;
        width: 100%;
        top: 140px;
        bottom: 0;
        right: 0;
        background-color: var(--color-gris);
        overflow-y: auto;
        display: grid;
        grid-auto-rows: max-content;
        transform: translateX(100%);
    }

    .nav-links--show {
        transform: unset;
        width: 100%;
    }

    .nav-link {
        padding: 25px 0;
        padding-left: 30px;
        height: auto;
        color: var(--color-blanco2);
    }

    .nav-icon {
        margin-left: auto;
        margin-right: 20px;
    }

    .nav-sublinks {
        display: grid;
        position: unset;
        width: 100%;
        transform: translateY(0);
        height: 0;
        transition: height .3s;
        border-radius: unset;
        overflow: unset;
    }

    .nav-sublink--inside {
        width: 90%;
        margin-left: auto;
        border-left: 1px solid var(--color-phantom);
    }
}

@media (max-width: 425px) {

    /* SECCION INFO */
    .info {
        flex-direction: column;
    }

    .info-group {
        display: flex;
        align-items: unset;
        justify-content: unset;
        text-align: center;
        row-gap: 3em;
        margin: .8em 2em;
    }

    .info-text {
        margin-left: .5em;
    }

    /* SECCION NAVBAR */
    .nav-links {
        top: 180px;
    }
}

@media (max-width: 375px) {

    /* SECCION INFO */
    .info-group {
        margin: .8em 1.5em;
    }

    .info-text {
        margin-left: .5em;
        font-size: 14px;
    }
}

@media (max-width: 320px) {

    /* SECCION INFO */
    .info-text {
        font-size: 12px;
    }

    /* SECCION NAVBAR */
    .nav-img {
        width: 200px;
        height: 55px;
    }
    .menu-img {
        width: 30px;
    }
}